:root {
  --primary-color: #cf64f7;
  --secondary-color: #F7F5C9;
  --tertiary-color: #595C5F;
}

body {
  font-family: "Poppins", sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin:0;
  font-size: 16px;
}
nav{
  padding: 20px 0;
}

nav li{
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a{
  text-decoration: none;
  color: var(--tertiary-color); 
  transition: all 100ms ease-in-out;
}
nav a:hover{
  color:var(--primary-color);
}
section img{
  border-radius: 16px;
}


.navbar-nav {
  margin-left: 50px;
}

.nav-item .nav-link {
  color: var(--tertiary-color);
  margin-left: 80px;
  margin-right: 80px;
  font-weight: 500;
  transition: all 200ms ease-in-out;
}

.nav-item .nav-link:hover {
  color: var(--primary-color);
}
 .btn-branding{
  background: var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
 }
 .btn-branding-outline{
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
 }
 .heading{
  font-weight: 500;
  font-size: 40px;
 }
.card{
  cursor: pointer;
  transition: 0.5s;
}
.card:hover{
  transform: translateY(-6px);
}

.blog{
  border-radius: 26px;
}
.blog-page {
    background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}

.blog-page .container {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px; 
}


.blog-page .row {
    display: flex;
    align-items: center; 
}

.blog-page .project-description {
    text-align: left; 
}

.blog-page .blog-image {
    max-width: 60%;
    height: auto;
    margin-left: auto;
    border-radius: 10px;
}

.blog-page .project-description i.fa-star:hover {
    color: gold; 
}
.menu-section {
    padding: 40px 0; 
}

.menu-section .large-image {
    max-width: 100%; 
    height: auto;
    border-radius: 10px;  
}

.menu-section .menu-items {
    width: 100%; 
}

.menu-item {
    margin-bottom: 20px;
}

.menu-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.menu-text {
    margin-top: 10px;
}

.price {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}

.name {
    display: block;
    font-size: 1em;
    margin: 5px 0;
}

.description {
    display: block;
    font-size: 0.9em;
    color: #666;
}












